@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: gray;
    position: relative;
}


.main{
    background-color: rgb(97, 97, 97);
    height: 900px;
    width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    border: 2px solid rgb(255, 182, 182);
    border-radius: 30px;
}

.main span{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 15px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3,167px);
    grid-template-columns: repeat(3, 167px);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;

}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(255, 208, 0);
    color: rgb(255, 208, 0);
    font-size: 160px;
    font-family: 'Finger Paint', cursive;
    &:hover{
        background-color: rgb(155, 155, 155);
    }
}


/* for border adjustments */
.bt{
    border-top: 0px;
}

.bb{
    border-bottom: 0px;
}

.bl{
    border-left: 0px;
}

.br{
    border-right: 0px;
}


#restart{
    height: 50px;
    width: 130px;
    position: absolute;
    top: 92%;
    left: 40%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    transition: ease-in-out all 0.1s;
    transform: scale(1);

    &:hover{
        background-color: green;
        transform: scale(1.1);
    }
}

span.scoreBoard{
    /* background-color: red; */
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-decoration-line: none;
}